*{
	padding: 0;
	margin: 0;
}
html{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}
body{
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei', sans-serif;
	font-size:16px;
}
a{
	color: #fff;
	text-decoration: none;
}
ul,li{
	list-style: none;
}
input[value]{
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei', sans-serif;
	font-size: 18px;
	text-align: center;
	color: rgba(255,255,255,0.95);
}
.iUp {
  opacity: 0;
  -moz-transform: translate3d(0, 80px, 0);
  -ms-transform: translate3d(0, 80px, 0);
  -webkit-transform: translate3d(0, 80px, 0);
  transform: translate3d(0, 80px, 0);
  -moz-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}
.iUp.up {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#wallpaper{
	position: absolute;
	width:100%;
	height: 100%;
	object-fit: cover;
}
.black_overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1;
	-moz-opacity: .5;
	opacity: .5;
	filter: alpha(opacity=50);
}
.content{
	position: absolute;
	z-index: 2;
	text-align:center;
	color:#fff;
	width: 100%;
	height: 100%;
	top: 0;
}
.main{
	position: absolute;
	top: 28%;
	left: 50%;
	margin-left: -310px;
	font-size: 32px;
	color: rgba(255,255,255,0.95);
}
.main_input{
	position: relative;
	bottom: 3px;
	width: 420px;
	height: 20px;
	padding: 10px 0;
	margin: 0 auto;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 0 5px #D3D3D3;
	-moz-box-shadow: 0 0 5px #D3D3D3;
	-webkit-box-shadow: 0 0 5px #D3D3D3;
	background-color: rgba(255,255,255,0.1);
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.main_input:hover{
	box-shadow: 0 0 10px #D3D3D3;
	-moz-box-shadow: 0 0 10px #D3D3D3;
	-webkit-box-shadow: 0 0 10px #D3D3D3;
	border: 1px solid #3BB4F2;
	background-color: rgba(59,180,242,0.1);
}
#enter{
	display: inline-block;
	width: 45px;
	height: 45px;
	cursor: pointer;
	-moz-opacity: 0.5;
	opacity: .5;
	filter: alpha(opacity=50);
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
#enter.active{
    -moz-opacity: 0.7;
    opacity: .7;
    filter: alpha(opacity=70);
}
#enter:hover, #enter.active:hover{
    -moz-opacity: 0.9;
    opacity: .9;
    filter: alpha(opacity=90);
}
#enter img{
	height: 100%;
	width: 100%;
	vertical-align: middle;
}
#more{
    display: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 200%;
    padding-top: 10px;
    padding-left: 35px;
    -moz-opacity: 0.8;
    opacity: .8;
    filter: alpha(opacity=80);
}
#more p{
	height: 50px;
}
#tagsList{
	visibility: hidden;
	font-size: 16px;
	position:relative;
	width:400px;
	height:300px;
	top: 33%;
	margin: 75px auto 0;
	-moz-opacity: 0.95;
	opacity: .95;
	filter: alpha(opacity=95);
}
#tagsList a{
	position:absolute;
	top:0;
	left:0;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	padding: 3px 6px;
}
#tagsList a:hover{
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 2px 5px;
	background: rgba(0,0,0,0.2);
}
.about{
	width: 100%;
	position: absolute;
	bottom: 10px;
	z-index: 2;
	font-size: 14px;
	text-align: center;
	color: gray;
	-moz-opacity: 0.25;
	opacity: .25;
	filter: alpha(opacity=25);
}
#share{
	position: fixed;
	top: 2em;
	right: 2em;
	cursor: pointer;
	padding: 0 0.8em;
	margin: 0 auto;
	z-index: 5;
	-moz-opacity: 0.8;
	opacity: .8;
	filter: alpha(opacity=80);
	color: #fff;
	width: 50px;
	font-size: 14px;
	line-height: 1.8em;
	height: 1.8em;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 1.8em;
	-moz-border-radius: 1.8em;
	-webkit-border-radius: 1.8em;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	background-color: rgba(211,211,211,0.2);
	box-shadow: 0 0 2px #D3D3D3;
	-moz-box-shadow: 0 0 2px #D3D3D3;
	-webkit-box-shadow: 0 0 2px #D3D3D3;
}
#share:hover{
	-moz-opacity: 0.85;
	opacity: .85;
	filter: alpha(opacity=85);
	background-color: rgba(211,211,211,0);
	box-shadow: 0 0 10px #D3D3D3;
	-moz-box-shadow: 0 0 10px #D3D3D3;
	-webkit-box-shadow: 0 0 10px #D3D3D3;
}
#share img{
	width: 14px;
	vertical-align: top;
	margin: 0.4em 2px;
	position: relative;
	right: 2px;
}
#status{
	position: fixed;
	top: 2em;
	left: 2em;
	z-index: 5;
	cursor: pointer;
	color: #fff;
	font-size: 12px;
	line-height: 13px;
	padding: 0.5em;
	overflow: hidden;
}
#status i{
	float: left;
	display: inline-block;
	height: 11px;
	width: 11px;
	margin: 1px 4px;
	border-radius: 12px;
	opacity: .8;
	filter: alpha(opacity=80);
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
#status span{
	opacity: .6;
	filter: alpha(opacity=60);
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
#status:hover i{
	opacity: .95;
	filter: alpha(opacity=95);
}
#status:hover span{
	opacity: .8;
	filter: alpha(opacity=80);
}
#status .reset{
	background: #999;
}
#status .on{
	background: #00881c;
}
#status .off{
	background: #a11203;
}
#warn{
	color: #fff;
	height: 32px;
	line-height: 32px;
	padding: 0 20px;
	text-align: center;
	position: fixed;
	z-index: 3;
	top: -48px;
	left: 50%;
	transform:translate(-50%,0);
	-ms-transform:translate(-50%,0);	/* IE 9 */
	-moz-transform:translate(-50%,0);	/* Firefox */
	-webkit-transform:translate(-50%,0);  /* Safari 和 Chrome */
	-o-transform:translate(-50%,0); 	/* Opera */
	font-size: 12px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: rgba(211,211,211,0.3);
	box-shadow: 0 0 8px #D3D3D3;
	-moz-box-shadow: 0 0 8px #D3D3D3;
	-webkit-box-shadow: 0 0 8px #D3D3D3;
	white-space: nowrap;
	overflow: hidden;
}
.about#toblues{
	display: none;
}
@media screen and (max-width: 600px){
	.newimg{
		width: 100px;
		height: 141px;
	}
	.main{
		width: 100%;
		left: 0;
		top: 22%;
		margin-left: 0;
	}
	.main_input{
		position: relative;
		width: 92%;
		padding-left: 1em;
	}
	input[value]{
		font-size: 13px;
		text-align: left;
	}
	.main span{
		display: none;
	}
	#enter{
		width: 30px;
		height: 30px;
		position: absolute;
		top: 8px;
		right: 4%;
	}
	#enter img {
		width: 100%;
		height: 100%;
		vertical-align: baseline;
	}
	#tagsList{
		width: 100%;
		top: 30%;
		margin: 30px auto;
	}
    #more{
		padding-left: 0;
	}
	#share{
		top: 1.35em;
		right: 0.7em;
		width: 1.8em;
		padding: 0;
		border: none;
		box-shadow: none;
		background: none;
	}
	#share:hover{
		box-shadow: none;
		background: none;
		-moz-opacity: 0.9;
		opacity: .9;
		filter: alpha(opacity=90);
	}
	#share span{
		display: none;
	}
	#status{
		top: 1.6em;
		left: 0.2em;
	}
	#warn{
		width: auto;
		left: 8em;
		right: 3.6em;
        margin-top: 0;
		margin-left: 0;
        height: 25px;
        line-height: 25px;
        padding: 0 6px;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		background-color: rgba(211,211,211,0.25);
		box-shadow: none;
		-ms-transform:translate(0,0);	/* IE 9 */
		-moz-transform:translate(0,0);	/* Firefox */
		-webkit-transform:translate(0,0);  /* Safari 和 Chrome */
		-o-transform:translate(0,0); 	/* Opera */
	}
}