@font-face{
	font-family: 'iconfont';
	src: url('img/font/iconfont.eot'); /* IE9*/
	src: url('img/font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('img/font/iconfont.woff') format('woff'), /* chrome、firefox */
	url('img/font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('img/font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
	font-family: "iconfont" !important;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar{
	background-color:#F1F1F1;
	overflow:visible;
	width:3px;
}
::-webkit-scrollbar-thumb{
	background-color:rgba(0, 0, 0, .2);
	background-clip:padding-box;
	min-height:15px;
	box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .1),inset 0 -1px 0 rgba(0, 0, 0, .07);
}
::-webkit-scrollbar-thumb:vertical:hover{
	background-color:rgba(0, 0, 0, .3);
}
::-webkit-scrollbar-thumb:vertical:active{
	background-color:rgba(0, 0, 0, .5);
}
::-webkit-scrollbar-button{
	height:0;
	width:0;
}
::-webkit-scrollbar-track{
	background-clip:padding-box;
	border:solid transparent;
	border-width:0 0 0 4px;
}
::-webkit-scrollbar-corner{
	background:transparent;
}
*{
	padding: 0;
	margin: 0;
}
html{
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}
body{
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei', sans-serif;
	font-size:16px;
	overflow: hidden;
}
a{
	color: #fff;
	text-decoration: none;
}
ul,li{
	list-style: none;
}
input[value]{
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei', sans-serif;
	font-size: 18px;
	text-align: center;
	color: rgba(255,255,255,0.95);
}
.iUp {
  opacity: 0;
  -moz-transform: translate3d(0, 80px, 0);
  -ms-transform: translate3d(0, 80px, 0);
  -webkit-transform: translate3d(0, 80px, 0);
  transform: translate3d(0, 80px, 0);
  -moz-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}
.iUp.up {
  opacity: 1;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#wallpaper{
	position: absolute;
	width:100%;
	height: 100%;
	object-fit: cover;
}
.black_overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1;
	-moz-opacity: .5;
	opacity: .5;
	filter: alpha(opacity=50);
}
.main-box .content{
	position: absolute;
	z-index: 2;
	text-align:center;
	color:#fff;
	width: 100%;
	height: 100%;
	top: 0;
}
.main{
	position: absolute;
	top: 28%;
	left: 50%;
	margin-left: -300px;
	font-size: 32px;
	color: rgba(255,255,255,0.95);
}
.main_input{
	position: relative;
	bottom: 3px;
	width: 420px;
	height: 20px;
	padding: 10px 0;
	margin: 0 auto;
	outline: none;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 0 5px #D3D3D3;
	-moz-box-shadow: 0 0 5px #D3D3D3;
	-webkit-box-shadow: 0 0 5px #D3D3D3;
	background-color: rgba(255,255,255,0.1);
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.main_input:hover{
	box-shadow: 0 0 10px #D3D3D3;
	-moz-box-shadow: 0 0 10px #D3D3D3;
	-webkit-box-shadow: 0 0 10px #D3D3D3;
	border: 1px solid #3BB4F2;
	background-color: rgba(59,180,242,0.1);
}
#enter{
	display: inline-block;
	width: 45px;
	height: 45px;
	cursor: pointer;
	-moz-opacity: 0.5;
	opacity: .5;
	filter: alpha(opacity=50);
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
#enter.active{
    -moz-opacity: 0.7;
    opacity: .7;
    filter: alpha(opacity=70);
}
#enter:hover, #enter.active:hover{
    -moz-opacity: 0.9;
    opacity: .9;
    filter: alpha(opacity=90);
}
#enter img{
	height: 100%;
	width: 100%;
	vertical-align: middle;
}
#more{
    display: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 200%;
    padding-top: 10px;
    padding-left: 35px;
    -moz-opacity: 0.8;
    opacity: .8;
    filter: alpha(opacity=80);
}
#more p{
	height: 50px;
}
.tagcloud{
	visibility: hidden;
	font-size: 16px;
	position:relative;
	width:400px;
	height:300px;
	top: 33%;
	margin: 75px auto 0;
	-moz-opacity: 0.95;
	opacity: .95;
	filter: alpha(opacity=95);
}
.tagcloud a{
	position:absolute;
	top:0;
	left:0;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	padding: 3px 6px;
}
.tagcloud a:hover{
	border: 1px solid #fff;
	border-radius: 2px;
	padding: 2px 5px;
	background: rgba(0,0,0,0.2);
}
.about{
	width: 100%;
	position: absolute;
	bottom: 10px;
	z-index: 2;
	font-size: 14px;
	text-align: center;
	color: gray;
	-moz-opacity: 0.25;
	opacity: .25;
	filter: alpha(opacity=25);
}
#discuss{
	cursor: pointer;
	position: fixed;
	z-index: 5;
	top: 0.6em;
	right: 1.5em;
	padding: 1em;
	margin: 0;
	color: #fff;
	min-height: 24px;
	min-width: 24px;
	font-size: 16px;
	text-align: center;
	-moz-opacity: 0.8;
	opacity: .8;
	filter: alpha(opacity=80);
	-webkit-transition: all 0.5s ease-in-out, color 1s ease-in-out;
	-o-transition: all 0.5s ease-in-out, color 1s ease-in-out;
	transition: all 0.5s ease-in-out, color 1s ease-in-out;
}
#discuss:hover{
	-moz-opacity: 0.95;
	opacity: .95;
	filter: alpha(opacity=95);
}
#discuss .pinglun{
	font-size: 24px;
	line-height: 24px;
}
#discuss .pinglun-text{
	display: none;
	position: absolute;
	font-size: 16px;
	right: -1.2em;
	font-weight: 500;
}
#discuss.active{
	z-index: 100;
	margin-right: 262px;
	color: #444;
}
#discuss.active .pinglun-text{
	display: inline-block;
}
#status{
	position: fixed;
	top: 2em;
	left: 2em;
	z-index: 5;
	cursor: pointer;
	color: #fff;
	font-size: 12px;
	line-height: 13px;
	padding: 0.5em;
	overflow: hidden;
}
#status i{
	float: left;
	display: inline-block;
	height: 11px;
	width: 11px;
	margin: 1px 4px;
	border-radius: 12px;
	opacity: .8;
	filter: alpha(opacity=80);
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
#status span{
	opacity: .6;
	filter: alpha(opacity=60);
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
#status:hover i{
	opacity: .95;
	filter: alpha(opacity=95);
}
#status:hover span{
	opacity: .8;
	filter: alpha(opacity=80);
}
#status .reset{
	background: #999;
}
#status .on{
	background: #00881c;
}
#status .off{
	background: #a11203;
}
#warn{
	color: #fff;
	height: 32px;
	line-height: 32px;
	padding: 0 20px;
	text-align: center;
	position: fixed;
	z-index: 3;
	top: -48px;
	left: 50%;
	transform:translate(-50%,0);
	-ms-transform:translate(-50%,0);	/* IE 9 */
	-moz-transform:translate(-50%,0);	/* Firefox */
	-webkit-transform:translate(-50%,0);  /* Safari 和 Chrome */
	-o-transform:translate(-50%,0); 	/* Opera */
	font-size: 12px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	background-color: rgba(211,211,211,0.3);
	box-shadow: 0 0 8px #D3D3D3;
	-moz-box-shadow: 0 0 8px #D3D3D3;
	-webkit-box-shadow: 0 0 8px #D3D3D3;
	white-space: nowrap;
	overflow: hidden;
}
.about#toblues{
	display: none;
}
.side-box{
	position: fixed;
	z-index: 99;
	height: 100%;
	width: 350px;
	top: 0;
	right: -350px;
	background-color: rgba(255, 255, 255, 0.9);
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	overflow: hidden;
}
.side-box.active{
	right: 0;
}
.side-box header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 65px;
}
.discuss-close{
	cursor: pointer;
	float: right;
	padding: 1em;
	margin-top: 0.8em;
	margin-right: 0.7em;
	min-height: 18px;
	min-width: 18px;
	opacity: .8;
	filter: alpha(opacity=80);
}
.discuss-close img{
	height: 18px;
}
.side-box .content{
	position: absolute;
	width: 100%;
	top: 65px;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
}
.side-box .content .duosuo{
	padding: 0 20px 5px 25px;
}
.duosuo .loading{
	color: #666;
	font-size: 12px;
}
.duosuo #ds-share #ds-reset .ds-share-icons-16{
	padding: 0 2px;
}
.duosuo #ds-share #ds-reset .ds-share-icons-16>li a{
	font-size: 14px !important;
	color: #666 !important;
}
.duosuo #ds-thread #ds-reset .ds-inline-replybox{
	margin-left: -30px !important;
}
.duosuo .ds-sync .ds-qqt,
.duosuo .ds-sync .ds-douban,
.duosuo .ds-sync .ds-renren{
	display: none !important;
}
@media screen and (max-width: 600px){
	.newimg{
		width: 100px;
		height: 141px;
	}
	.main{
		width: 100%;
		left: 0;
		top: 22%;
		margin-left: 0;
	}
	.main_input{
		position: relative;
		width: 92%;
		padding-left: 1em;
	}
	input[value]{
		font-size: 13px;
		text-align: left;
	}
	.main span{
		display: none;
	}
	#enter{
		width: 30px;
		height: 30px;
		position: absolute;
		top: 8px;
		right: 4%;
	}
	#enter img {
		width: 100%;
		height: 100%;
		vertical-align: baseline;
	}
	.tagcloud{
		width: 100%;
		top: 30%;
		margin: 30px auto;
	}
    #more{
		padding-left: 0;
	}
	#discuss{
		right: 0;
		padding: 0.6em;
	}
	#discuss.active{
		margin-right: 100%;
		right: -58px;
	}
	#discuss .pinglun-text{
		right: -1.5em;
	}
	#status{
		top: 1.6em;
		left: 0.2em;
	}
	#warn{
		width: auto;
		left: 8em;
		right: 3.6em;
        margin-top: 0;
		margin-left: 0;
        height: 25px;
        line-height: 25px;
        padding: 0 6px;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		background-color: rgba(211,211,211,0.25);
		box-shadow: none;
		-ms-transform:translate(0,0);	/* IE 9 */
		-moz-transform:translate(0,0);	/* Firefox */
		-webkit-transform:translate(0,0);  /* Safari 和 Chrome */
		-o-transform:translate(0,0); 	/* Opera */
	}
	.side-box{
		width: 100%;
		right: -100%;
		background-color: rgba(255, 255, 255, 0.95);
	}
	.side-box.active{
		right: 0;
	}
	.discuss-close{
		margin-top: 0.5em;
	}
}
/* 抖动 */
#discuss{display:inline-block;transform-origin:center center}.shake-freeze,.shake-constant.shake-constant--hover:hover,.shake-trigger:hover .shake-constant.shake-constant--hover{animation-play-state:paused}.shake-freeze:hover,.shake-trigger:hover .shake-freeze,#discuss:hover,.shake-trigger:hover #discuss{animation-play-state:running}@keyframes shake-little{2%{transform:translate(1px, 0px) rotate(0.5deg)}4%{transform:translate(0px, 0px) rotate(0.5deg)}6%{transform:translate(0px, 1px) rotate(0.5deg)}8%{transform:translate(1px, 0px) rotate(0.5deg)}10%{transform:translate(0px, 1px) rotate(0.5deg)}12%{transform:translate(0px, 0px) rotate(0.5deg)}14%{transform:translate(0px, 1px) rotate(0.5deg)}16%{transform:translate(0px, 0px) rotate(0.5deg)}18%{transform:translate(0px, 1px) rotate(0.5deg)}20%{transform:translate(0px, 1px) rotate(0.5deg)}22%{transform:translate(0px, 1px) rotate(0.5deg)}24%{transform:translate(0px, 0px) rotate(0.5deg)}26%{transform:translate(1px, 0px) rotate(0.5deg)}28%{transform:translate(0px, 1px) rotate(0.5deg)}30%{transform:translate(1px, 0px) rotate(0.5deg)}32%{transform:translate(1px, 0px) rotate(0.5deg)}34%{transform:translate(1px, 1px) rotate(0.5deg)}36%{transform:translate(0px, 0px) rotate(0.5deg)}38%{transform:translate(1px, 1px) rotate(0.5deg)}40%{transform:translate(1px, 1px) rotate(0.5deg)}42%{transform:translate(0px, 0px) rotate(0.5deg)}44%{transform:translate(1px, 1px) rotate(0.5deg)}46%{transform:translate(1px, 1px) rotate(0.5deg)}48%{transform:translate(1px, 0px) rotate(0.5deg)}50%{transform:translate(1px, 0px) rotate(0.5deg)}52%{transform:translate(0px, 0px) rotate(0.5deg)}54%{transform:translate(1px, 0px) rotate(0.5deg)}56%{transform:translate(1px, 0px) rotate(0.5deg)}58%{transform:translate(1px, 1px) rotate(0.5deg)}60%{transform:translate(1px, 1px) rotate(0.5deg)}62%{transform:translate(0px, 1px) rotate(0.5deg)}64%{transform:translate(1px, 0px) rotate(0.5deg)}66%{transform:translate(0px, 1px) rotate(0.5deg)}68%{transform:translate(0px, 1px) rotate(0.5deg)}70%{transform:translate(1px, 1px) rotate(0.5deg)}72%{transform:translate(1px, 0px) rotate(0.5deg)}74%{transform:translate(1px, 0px) rotate(0.5deg)}76%{transform:translate(1px, 1px) rotate(0.5deg)}78%{transform:translate(1px, 1px) rotate(0.5deg)}80%{transform:translate(1px, 1px) rotate(0.5deg)}82%{transform:translate(0px, 0px) rotate(0.5deg)}84%{transform:translate(0px, 0px) rotate(0.5deg)}86%{transform:translate(1px, 1px) rotate(0.5deg)}88%{transform:translate(1px, 1px) rotate(0.5deg)}90%{transform:translate(0px, 0px) rotate(0.5deg)}92%{transform:translate(1px, 0px) rotate(0.5deg)}94%{transform:translate(0px, 1px) rotate(0.5deg)}96%{transform:translate(1px, 0px) rotate(0.5deg)}98%{transform:translate(1px, 1px) rotate(0.5deg)}0%,100%{transform:translate(0, 0) rotate(0)}}#discuss:hover,.shake-trigger:hover .shake-little,#discuss.shake-freeze,#discuss.shake-constant{animation:shake-little 100ms ease-in-out infinite}