#_cqupt {
    display: inline-block;
    position: fixed;
    z-index: 999999;
    left: -2px;
    top: 10px;
    margin: 0;
    padding: 6px 24px;
    background: #35b558;
    opacity: .85;
    filter: alpha(opacity=85);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 2px 1px 8px #666;
    -moz-box-shadow: 2px 1px 8px #666;
    -webkit-box-shadow: 2px 1px 8px #666;
    text-align: center;
    overflow: hidden;
    color: #fff;
    font-family: 'Helvetica Neue',Helvetica,Arial,'Microsoft YaHei',sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    text-decoration: none;
    outline: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#_cqupt:hover {
    opacity: .9;
    filter: alpha(opacity=90);
    box-shadow: 2px 1px 16px #666;
    -moz-box-shadow: 2px 1px 16px #666;
    -webkit-box-shadow: 2px 1px 16px #666;
}
#_cqupt small {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Helvetica Neue',Helvetica,Arial,'Microsoft YaHei',sans-serif;
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
}
/* discuss */
@font-face{
    font-family: 'iconfont';
    src: url('//host.congm.in/img/font/iconfont.eot'); /* IE9*/
    src: url('//host.congm.in/img/font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//host.congm.in/img/font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('//host.congm.in/img/font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//host.congm.in/img/font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
._cqupt-iconfont{
    font-family: "iconfont" !important;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar{
    background-color:#F1F1F1;
    overflow:visible;
    width:3px;
}
::-webkit-scrollbar-thumb{
    background-color:rgba(0, 0, 0, .2);
    background-clip:padding-box;
    min-height:15px;
    box-shadow:inset 1px 1px 0 rgba(0, 0, 0, .1),inset 0 -1px 0 rgba(0, 0, 0, .07);
}
::-webkit-scrollbar-thumb:vertical:hover{
    background-color:rgba(0, 0, 0, .3);
}
::-webkit-scrollbar-thumb:vertical:active{
    background-color:rgba(0, 0, 0, .5);
}
::-webkit-scrollbar-button{
    height:0;
    width:0;
}
::-webkit-scrollbar-track{
    background-clip:padding-box;
    border:solid transparent;
    border-width:0 0 0 4px;
}
::-webkit-scrollbar-corner{
    background:transparent;
}
#_cqupt-discuss{
    cursor: pointer;
    position: fixed;
    z-index: 999998;
    top: 0.6em;
    right: 1.5em;
    padding: 1em;
    margin: 0;
    color: #444;
    min-height: 24px;
    min-width: 24px;
    font-size: 16px;
    text-align: center;
    -moz-opacity: 0.8;
    opacity: .8;
    filter: alpha(opacity=80);
    -webkit-transition: all 0.5s ease-in-out, color 1s ease-in-out;
    -o-transition: all 0.5s ease-in-out, color 1s ease-in-out;
    transition: all 0.5s ease-in-out, color 1s ease-in-out;
}
#_cqupt-discuss:hover{
    -moz-opacity: 0.95;
    opacity: .95;
    filter: alpha(opacity=95);
}
#_cqupt-discuss ._cqupt-pinglun{
    font-size: 24px;
    line-height: 24px;
}
#_cqupt-discuss ._cqupt-pinglun-text{
    display: none;
    position: absolute;
    font-size: 16px;
    right: -1.2em;
    font-weight: 500;
}
#_cqupt-discuss.active{
    z-index: 999999;
    margin-right: 260px;
    color: #444;
}
#_cqupt-discuss.active ._cqupt-pinglun-text{
    display: inline-block;
}
#_cqupt-side-box{
    position: fixed;
    z-index: 999997;
    height: 100%;
    width: 350px;
    top: 0;
    right: -350px;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
#_cqupt-side-box.active{
    right: 0;
    box-shadow: -5px 0 10px #999;
}
#_cqupt-side-box ._cqupt-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
}
#_cqupt-discuss-close{
    cursor: pointer;
    float: right;
    padding: 1em;
    margin-top: 0.6em;
    margin-right: 0.6em;
    font-size: 16px;
    min-height: 18px;
    min-width: 18px;
    opacity: .8;
    filter: alpha(opacity=80);
}
#_cqupt-discuss-close img{
    height: 18px;
}
#_cqupt-side-box ._cqupt-content{
    position: absolute;
    width: 100%;
    top: 65px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
#_cqupt-side-box ._cqupt-content ._cqupt-duosuo{
    padding: 0 20px 0 25px;
}
._cqupt-duosuo ._cqupt-loading{
    color: #555;
    font-size: 14px;
}
._cqupt-duosuo #ds-thread #ds-reset .ds-inline-replybox{
    margin-left: -30px !important;
}
._cqupt-duosuo .ds-sync .ds-qqt,
._cqupt-duosuo .ds-sync .ds-douban,
._cqupt-duosuo .ds-sync .ds-renren{
    display: none !important;
}
/* 抖动 */
#_cqupt-discuss{display:inline-block;transform-origin:center center}.shake-freeze,.shake-constant.shake-constant--hover:hover,.shake-trigger:hover .shake-constant.shake-constant--hover{animation-play-state:paused}.shake-freeze:hover,.shake-trigger:hover .shake-freeze,#_cqupt-discuss:hover,.shake-trigger:hover #_cqupt-discuss{animation-play-state:running}@keyframes shake-little{2%{transform:translate(1px, 0px) rotate(0.5deg)}4%{transform:translate(0px, 0px) rotate(0.5deg)}6%{transform:translate(0px, 1px) rotate(0.5deg)}8%{transform:translate(1px, 0px) rotate(0.5deg)}10%{transform:translate(0px, 1px) rotate(0.5deg)}12%{transform:translate(0px, 0px) rotate(0.5deg)}14%{transform:translate(0px, 1px) rotate(0.5deg)}16%{transform:translate(0px, 0px) rotate(0.5deg)}18%{transform:translate(0px, 1px) rotate(0.5deg)}20%{transform:translate(0px, 1px) rotate(0.5deg)}22%{transform:translate(0px, 1px) rotate(0.5deg)}24%{transform:translate(0px, 0px) rotate(0.5deg)}26%{transform:translate(1px, 0px) rotate(0.5deg)}28%{transform:translate(0px, 1px) rotate(0.5deg)}30%{transform:translate(1px, 0px) rotate(0.5deg)}32%{transform:translate(1px, 0px) rotate(0.5deg)}34%{transform:translate(1px, 1px) rotate(0.5deg)}36%{transform:translate(0px, 0px) rotate(0.5deg)}38%{transform:translate(1px, 1px) rotate(0.5deg)}40%{transform:translate(1px, 1px) rotate(0.5deg)}42%{transform:translate(0px, 0px) rotate(0.5deg)}44%{transform:translate(1px, 1px) rotate(0.5deg)}46%{transform:translate(1px, 1px) rotate(0.5deg)}48%{transform:translate(1px, 0px) rotate(0.5deg)}50%{transform:translate(1px, 0px) rotate(0.5deg)}52%{transform:translate(0px, 0px) rotate(0.5deg)}54%{transform:translate(1px, 0px) rotate(0.5deg)}56%{transform:translate(1px, 0px) rotate(0.5deg)}58%{transform:translate(1px, 1px) rotate(0.5deg)}60%{transform:translate(1px, 1px) rotate(0.5deg)}62%{transform:translate(0px, 1px) rotate(0.5deg)}64%{transform:translate(1px, 0px) rotate(0.5deg)}66%{transform:translate(0px, 1px) rotate(0.5deg)}68%{transform:translate(0px, 1px) rotate(0.5deg)}70%{transform:translate(1px, 1px) rotate(0.5deg)}72%{transform:translate(1px, 0px) rotate(0.5deg)}74%{transform:translate(1px, 0px) rotate(0.5deg)}76%{transform:translate(1px, 1px) rotate(0.5deg)}78%{transform:translate(1px, 1px) rotate(0.5deg)}80%{transform:translate(1px, 1px) rotate(0.5deg)}82%{transform:translate(0px, 0px) rotate(0.5deg)}84%{transform:translate(0px, 0px) rotate(0.5deg)}86%{transform:translate(1px, 1px) rotate(0.5deg)}88%{transform:translate(1px, 1px) rotate(0.5deg)}90%{transform:translate(0px, 0px) rotate(0.5deg)}92%{transform:translate(1px, 0px) rotate(0.5deg)}94%{transform:translate(0px, 1px) rotate(0.5deg)}96%{transform:translate(1px, 0px) rotate(0.5deg)}98%{transform:translate(1px, 1px) rotate(0.5deg)}0%,100%{transform:translate(0, 0) rotate(0)}}#_cqupt-discuss:hover,.shake-trigger:hover #_cqupt-discuss,#_cqupt-discuss.shake-freeze,#_cqupt-discuss.shake-constant{animation:shake-little 100ms ease-in-out infinite}